<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
           <a class="logo" href="/"><img src="{{asset "logo-default.png"}}" alt="logo"></a>
        </div>
    </div>
    <div class="site-nav-right">
        <div class="navigation">
            <a href="/market">Market</a>
            <a href="/activity">Activity</a>
            <a href="/blog">Blog</a>
            <a href="/admin">Admin</a>
        </div>
    </div>
</nav>
