.DS_Store
node_modules
/.svelte
/build
/functions
deploy*
hasura/liquidregtest/config/regtest/
hasura/liquidregtest/liquid-config/liquidregtest/
hasura/db
hasura/storage
hasura/.env
hasura/.env.regtest
hasura/.env.hostnet
hasura/.env.mainnet
hasura/.env.prod
hasura/data/certbot
hasura/data/raretoshi
hasura/data/nginx/.lapasswd
hasura/gdk-server/__pycache__
hasura/ipfs
hasura/ghost-data
hasura/app/proofs.json
hasura/app/.pnpm-store
cypress/integration/1-getting-started
cypress/integration/2-advanced-examples
**/.pnpm-debug.log
.svelte-kit
.env.local

