body {
  font-family: "SecondaryFont", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #2d2e32;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

input[type="checkbox"]:checked {
  outline: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}
input[type="radio"]:checked {
  border: 7px solid var(--color-primary);
}

.dark-bg {
  background-color: #445268;
  color: #f4f4f4;
}

.toggle-checkbox:checked + .toggle-label {
  background: var(--color-lightblue);
}

.toggle-checkbox:checked {
  border: 1px solid var(--color-midblue);
  right: 0;
}

/**
  Brand Colors
  */

/* Light blue — Primary accent color */
.text-lightblue {
  color: var(--color-lightblue);
}
.bg-lightblue {
  background: var(--color-lightblue);
}

.border-lightblue {
  border-bottom: 1px solid var(--color-lightblue);
}

.text-midblue {
  color: var(--color-midblue);
}

/*Light blue gradient — Gradient accent color */
.lightblue-grad {
  background: var(--color-primary-safe);
  background: var(--color-primary);
}

/*Logo gradient — Gradient for logo or other small applications */
.logo-grad {
  background: var(--color-primary-safe);
  background: var(--color-primary);
}

/**
  Buttons
  */

button {
  width: 100%;
}

.primary-btn {
  border-radius: 30px;
  height: 48px;
  padding: 0 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-weight: bold;
  background: var(--color-primary-safe);
  background: var(--color-primary);
}

.secondary-btn,
.button-transparent {
  border-radius: 30px;
  border: 1px solid #2d2e32;
  color: #2d2e32;
  height: 48px;
  padding: 0 30px;
  font-weight: 700;
  background: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn:hover {
  border: 1px solid #6b6b6b;
  color: #6b6b6b;
}

.button-trans-gray {
  border-radius: 30px;
  padding: 0.7rem 1.5rem !important;
  color: white;
  font-weight: bold;
  background: none;
  border: 1px solid gray;
}

@media (min-width: 768px) {
  button {
    width: auto;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.boxShadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
}

.button-trans-gray {
  background-color: none;
  border: 1px solid gray !important;
  color: white;
}

button:focus,
select:focus {
  outline: none;
}

button:hover {
  color: var(--color-lightblue);
}

.title {
  @apply font-bold pb-14 text-4xl text-left;
  color: #133e7c;
}

.sub-title {
  font-weight: bold;
  font-size: 20px;
  color: #05b298;
}

.box-shadow {
  box-shadow: 1px 0px 5px 0px #cbcbcb;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255);
  box-shadow: 0px 0px 5px 0px #cbcbcb;
  z-index: 300;
}

.footer ul li a {
  font-size: 16px;
}

.hover {
  border-bottom: 3px solid var(--color-lightblue);
}

.tabs div:hover {
  border-bottom: 3px solid var(--color-lightblue);
}

.show-more,
.contact a, .faq a, .description a,
.wallet-nav a:hover,
.show-more {
  color: var(--color-primary);
}

select.svelte-1jm2bqe {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 90%;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.rounded-full {
    border-radius: 9999px;
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.rounded-full {
    border-radius: 9999px;
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input, textarea, select {
    overflow-y: auto;
    padding-top: 10px !important;
    padding-right: 10px;
    padding-bottom: 10px !important;
    padding-left: 10px;
}
input[type="checkbox"], input[type="radio"] {
  padding: 0 !important;
}
#drop-area.highlight {
  border-color: var(--color-primary);
}
#drop-area{
  border: 2px solid var(--color-primary)
}
textarea:focus, input:focus{
  outline: none;
}
input, textarea, select {
  border-width: 1px;
}

@media only screen and (max-width: 1023px) {
  .search input {
    border-bottom: 1px solid var(--color-primary);
  }
}
.snack.info, .brand-color {
  background: var(--color-primary);
}
.icon, .primary-link {
  color: var(--color-primary);
}
.border-blue {
  border-color: var(--color-primary);
}
.hover {
  border-bottom: 3px solid var(--color-primary);
}
.tabs div:hover {
  border-bottom: 3px solid var(--color-primary);
}
.outline-none {
  outline: 2px solid transparent !important;
}
.bg-white {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}
