<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <h2>Hello.</h2>
    <p>Someone requested to reset the password for your account.</p>
    <p>If this was not you, please disregard this message.</p>
    <hr />
    <p>Proceed with the password reset by clicking the following link:</p>
    <p><a href="http://localhost:3000/reset-password/<%= ticket %>">http://localhost:3000/reset-password/<%= ticket %></a></p>
    <p>Thanks,<br />The Team</p>
  </body>
</html>
