@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("font/Montserrat-Regular.ttf") format("opentype");
  }
  
  @font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("font/Montserrat-Bold.ttf") format("opentype");
  }
  
  @font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url("font/OpenSans-Regular.ttf") format("opentype");
  }
  
  @font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("font/OpenSans-Bold.ttf") format("opentype");
  }
  
  /**
  Headings
  */

  body {
    font-family:
      OpenSans,
          system-ui,
          -apple-system, /* Firefox supports this but not yet `system-ui` */
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
      'Segoe UI Emoji';
      font-weight: normal;
  }
  
  h1,h2,h3{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: #000;
  }
  /* Mobile Phones */
  h1{
    font-size: 48px;
    line-height:52px;
  }
  
  h2{
    font-size: 32px;
    line-height:38px;
  }
  
  h3{
    font-size: 20px;
    line-height:30px;
  }
  
  /* Big Screen  desktops */
  @media (min-width: 768px) { 
    h1{
      font-size: 90px;
      line-height:100px;
    }
  
    h2{
      font-size: 48px;
      line-height:52px;
    }
  
    h3{
      font-size: 36px;
      line-height:40px;
    }
  }
  
  
  /**
  Brand Colors
  */
  
  /* Light blue — Primary accent color */
  .text-lightblue{
    color: #6ED8E0;
  }
  .bg-lightblue{
    background: #6ED8E0;
  }
  
  .border-lightblue{
    border-bottom: 1px solid #6ED8E0;
  }
  
  .text-midblue{
    color: #0F828A;
  }
  
  /*Light blue gradient — Gradient accent color */
  .lightblue-grad{
    background: rgb(143,238,245);
    background: linear-gradient(90deg, rgba(143,238,245,1) 0%, rgba(127,228,235,1) 50%, rgba(110,216,224,1) 100%);
  }
  
  /*Logo gradient — Gradient for logo or other small applications */
  .logo-grad{
    background: rgb(143,238,245);
    background: linear-gradient(90deg, rgba(143,238,245,1) 0%, rgba(80,190,198,1) 50%);
  }
  
  
  /**
  Buttons 
  */
  
  button{
    width: 100%;
  }
  
  .primary-btn{
    border-radius: 30px;
    padding: 0.7rem 1.5rem !important;
    color: #444444;
    font-weight: bold;
    background: rgb(143,238,245);
    background: linear-gradient(90deg, rgba(143,238,245,1) 0%, rgba(127,228,235,1) 50%, rgba(110,216,224,1) 100%);
  }
  
  .secondary-btn, .button-transparent{
    border-radius: 30px;
    padding: 0.7rem 1.5rem !important;
    font-weight: bold;
    background: none;
    border:1px solid #000;
  }

  .button-trans-gray{
    border-radius: 30px;
    padding: 0.7rem 1.5rem !important;
    color:white;
    font-weight: bold;
    background: none;
    border:1px solid gray;
  }
  
  @media (min-width: 768px) { 
    button{
      width: auto;
    }
  }
  
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .overflow-x-auto::-webkit-scrollbar {display: none;}
  .boxShadow{
    box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
  }

  