/*
- - - - -
What is the purpose of this file?
- - - - -
The first part of this file has base variables & colors we use for current project.
The second part has multiple components variables that nested from base variables/base color palette
or has its own variables with hardcoded colors/sizes/options if component design requires it
*/

// - - - - - - - - - - -
//
// BASE VARIABLES
//
// - - - - - - - - - - -

// fonts
$font-family: "Raleway", sans-serif;
$secondary-font-family: "Audiowide", sans-serif;
$font-size--base: 16px;

// color palette
$color-white: #fff;
$color-white-10: rgba(255,255,255,0.1);
$color-white-20: rgba(255,255,255,0.2);
$color-white-30: rgba(255,255,255,0.3);
$color-white-40: rgba(255,255,255,0.4);
$color-white-50: rgba(255,255,255,0.5);
$color-white-60: rgba(255,255,255,0.6);
$color-white-70: rgba(255,255,255,0.7);
$color-white-80: rgba(255,255,255,0.8);
$color-white-90: rgba(255,255,255,0.9);

$color-black: #000;
$color-black-10: rgba(0,0,0,0.1);
$color-black-20: rgba(0,0,0,0.2);
$color-black-30: rgba(0,0,0,0.3);
$color-black-40: rgba(0,0,0,0.4);
$color-black-50: rgba(0,0,0,0.5);
$color-black-60: rgba(0,0,0,0.6);
$color-black-70: rgba(0,0,0,0.7);
$color-black-80: rgba(0,0,0,0.8);
$color-black-90: rgba(0,0,0,0.9);

$color-primary-gradient-1: #fa7900;
$color-primary-gradient-2: linear-gradient(90deg,  #fa7900 0%, #df36b4 43%, #0063ea 77%, #00eaaf 100%);

$color-orange: #f77030;
$color-orange-10: rgba($color-orange,0.1);
$color-orange-20: rgba($color-orange,0.2);
$color-orange-30: rgba($color-orange,0.3);
$color-orange-40: rgba($color-orange,0.4);
$color-orange-50: rgba($color-orange,0.5);
$color-orange-60: rgba($color-orange,0.6);
$color-orange-70: rgba($color-orange,0.7);
$color-orange-80: rgba($color-orange,0.8);
$color-orange-90: rgba($color-orange,0.9);

$color-blue: #335fe3;
$color-blue-10: rgba($color-blue,0.1);
$color-blue-20: rgba($color-blue,0.2);
$color-blue-30: rgba($color-blue,0.3);
$color-blue-40: rgba($color-blue,0.4);
$color-blue-50: rgba($color-blue,0.5);
$color-blue-60: rgba($color-blue,0.6);
$color-blue-70: rgba($color-blue,0.7);
$color-blue-80: rgba($color-blue,0.8);
$color-blue-90: rgba($color-blue,0.9);

// colors

$color-text-base: $color-black-80;

// transition

$transition-basic-duration: .15s;


// - - - - - - - - - - -
//
// COMPONENTS VARIABLES THAT NESTED FROM BASE VARIABLES OR CUSTOM
//
// - - - - - - - - - - -

//
// = = = = HEADER = = = =
//
$header--background-color: $color-black;
$header--links--font-family: $secondary-font-family;
$header--links--font-size: 14px;
$header--links--color: $color-white-60;
$header--hamburger--color: #999;
$header--links--hover--color: $color-white-40;

//
// = = = = MOBILE SIDEBAR = = = =
//

$mobile-sidebar--overlay-color: rgba(0, 0, 0, 0.8);
$mobile-sidebar--overlay-color--opacity-0: rgba(0, 0, 0, 0.0); // to define keyframes
$mobile-sidebar--transition-time: .25s;
@mixin mobileSidebarAnimations() {

    @keyframes hide {
        0% {
            left: 0;
            background: $mobile-sidebar--overlay-color;
        }
        99% {
            background: $mobile-sidebar--overlay-color--opacity-0;
            left: 0;
        }
        100% {
            left: -100%;
            background: $mobile-sidebar--overlay-color--opacity-0;
        }
    }

    @keyframes open {
        0% {
            background: $mobile-sidebar--overlay-color--opacity-0;
        }
        100% {
            background: $mobile-sidebar--overlay-color;
        }
    }
}

//
// = = = = SEARCH = = = =
//
$search--transition: .15s;
$search--font-family: $font-family;
$search--font-size: 16px;
$search--color: $color-white-60;
$search--border-color: $color-white-20;
$search--border-size: 1px;
$search--border-style: solid;
$search--border: $search--border-size $search--border-style $search--border-color;
// search icon
$search--icon--color: $color-white-40;
// placeholder
$search--placeholder--color: $color-white-40;
// focus
$search--focus--color: $color-white-60;
$search--focus--border-color: $color-white-40;
$search--focus--border: $search--border-size $search--border-style $search--focus--border-color;
$search--focus--icon--color: $color-white-60;
$search--focus--placeholder--color: $color-white-60;

//
// = = = = CARD = = = =
//

$card--username--font-family: $font-family;
$card--title--font-family: $secondary-font-family;
$card--box-shadow: 0 0 6px 0 $color-black-10;
$card--title--color: $color-white;
$card--auction--static-background: rgb(119,157,210);
$card--auction--gradient-background: linear-gradient(90deg, rgba(119,157,210,1) 0%, rgba(165,246,255,1) 100%);
$card--buy-now--static-background: #ffa410;
$card--buy-now--gradient-background: linear-gradient(90deg,  #ffa410 0%,#fc1901 100%);;
$card--bottom-section--background: #EDEDED;
$card--price--font-size: 15px;

//
// = = = = BUTTON = = = =
//

// Primary idle
$button--primary--color: $color-white;
$button--primary--background--gradient-1: $color-primary-gradient-1;
$button--primary--background--gradient-2: $color-primary-gradient-2;
$button--primary--font-weight: bold;
$button--primary--transition--time: $transition-basic-duration;
// Primary hover
$button--primary--hover--box-shadow: 0 0 0 5px rgba($color-primary-gradient-1, 0.3);

// Ghost White idle
$button--ghost-white--color: $color-white;
$button--ghost-white--border-color: $color-white;
$button--ghost-white--border-width: 1px;
$button--ghost-white--border-style: solid;
$button--ghost-white--border: $button--ghost-white--border-width $button--ghost-white--border-style $button--ghost-white--border-color;
$button--ghost-white--background: transparent;
$button--ghost-white--font-weight: bold;
$button--ghost-white--transition--time: $transition-basic-duration;
// Ghost White hover
$button--ghost-white--hover--border-color: rgba($button--ghost-white--border-color, 0.5);
$button--ghost-white--hover--border-width: 1px;
$button--ghost-white--hover--border-style: solid;
$button--ghost-white--hover--border: $button--ghost-white--hover--border-width $button--ghost-white--hover--border-style $button--ghost-white--hover--border-color;
// Ghost White disabled
$button--ghost-white--disabled--cursor: not-allowed;
$button--ghost-white--disabled--color: $color-white-50;
$button--ghost-white--disabled--border-color: rgba($button--ghost-white--border-color, 0.5);;
// Ghost White disabled hover
$button--ghost-white--disabled--hover--color: $color-white-50;
$button--ghost-white--disabled--hover--border-color: rgba($button--ghost-white--border-color, 0.5);

