LIQUID_PEER_PORT=7044
LIQUID_NODE_PORT=7045
LIQUID_ELECTRS_RPC_PORT=60401
LIQUID_ELECTRS_PORT=3012
LIQUID_BLOCK_PORT=18606
LIQUID_TX_PORT=18607
DATA_DIR=./db
STORAGE_DIR=./storage
IPFS_DATA=./ipfs
LIQUID_ESPLORA_URL=http://electrs-liquid:5000
LIQUID_ESPLORA_PORT=5005
HASURA_GRAPHQL_ADMIN_SECRET=liquidart
HBP_URL=http://hbp:3000
IPFS_URL=http://ipfs:5001
IPFS_WEB_URL=http://ipfs:8080
HASURA_URL=http://hasura:8080
LIQUID_ELECTRS_URL=http://electrs-liquid:3002
APP_URL=http://localhost:8091
JWT_KEY=25C134A00CF05C9BF583727A12778F52D0E7BD560D3A3ACF8E79127E9A56119D
JWT_ALGORITHM=HS256
HASURA_GRAPHQL_JWT_SECRET={"type": "HS256", "key": "25C134A00CF05C9BF583727A12778F52D0E7BD560D3A3ACF8E79127E9A56119D"}
SIGNING_SERVER_MNEMONIC="actor plate kit job awful guilt myself reunion praise twenty exact firm"

# optional settings for prod
CLOUDFLARE_TOKEN=
CLOUDFLARE_ZONE=
DOMAIN=localhost
COINOS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InJhcmV0b3NoaSIsImlhdCI6MTYzMDM1ODE2MX0._hCtzsXcagiWoUPa7m3Hn-HqRlXaMjI0xsIfppEn56U
COINOS_URL=http://app:3119
SERVER_URL="http://localhost:3000"
SMTP_HOST=""
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_SENDER=""
