@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer components {
  .hover {
    @apply border-b-2;
    border-bottom: 3px solid #6ed8e0;
  }
  }

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url("/font/Montserrat-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("/font/Montserrat-Bold.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url("/font/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("/font/OpenSans-Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'Oswald-semibold';
  src: url('/font/Oswald-SemiBold.woff2') format('woff2'),
      url('/font/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald-bold';
  src: url('/font/Oswald-Bold.woff2') format('woff2'),
      url('/font/Oswald-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  font-family: OpenSans, system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  background: rgba(255, 255, 255);
  font-size: 17px;
  color: #525252;
  cursor: none;
}
button, a{
  cursor: none;
  font-size: 18px;
  line-height: 32px;
  color: #2D2E32;
}

@media (max-width: 768px) {
  body{
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald-bold';
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

/* Mobile Phones */
h1 {
  font-size: 48px;
  line-height: 52px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
}

/* Big Screen  desktops */
@media (min-width: 768px) {
  h1 {
    font-size: 120px;
    line-height: 0.94em;
  }

  h2 {
    font-size: 84px;
    line-height: 1em;
  }

  h3 {
    font-size: 60px;
    line-height: 1.016em
  }
}

/**
Brand Colors
*/

/* Light blue — Primary accent color */
.text-lightblue {
  color: #ff005b;
}
.bg-lightblue {
  background: #ff005b;
}

.border-lightblue {
  border-bottom: 1px solid  #ff005b;
}

.text-midblue {
  color:  #ff005b;
}

/*Light blue gradient — Gradient accent color */
.lightblue-grad {
  background: rgb(143, 238, 245);
  background: linear-gradient(
    90deg,
    rgba(143, 238, 245, 1) 0%,
    rgba(127, 228, 235, 1) 50%,
    rgba(110, 216, 224, 1) 100%
  );
}

/*Logo gradient — Gradient for logo or other small applications */
.logo-grad {
  background: rgb(143, 238, 245);
  background: linear-gradient(
    90deg,
    rgba(143, 238, 245, 1) 0%,
    rgba(80, 190, 198, 1) 50%
  );
}

/**
Buttons 
*/

button {
  width: 100%;
}


.primary-btn {
  height: 48px;
  padding: 5px 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  background:  #000;
  text-transform: uppercase;
}

.secondary-btn,
.button-transparent {
  height: 48px;
  padding: 0 20px;
  font-weight: 700;
  background: none;
  border: 1px solid #000;
  font-size: 18px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.secondary-btn:hover,
.button-transparent:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  display: flex;
}

.secondary-btn:hover{
  border: 1px solid #6B6B6B;
  color: #6B6B6B;
}

.button-trans-gray {
  padding: 0.7rem 1.5rem !important;
  color: white;
  font-weight: bold;
  background: none;
  border: 1px solid gray;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  button {
    width: auto;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.boxShadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
}

.secondary-color {
  color: #3ba5ac;
}

.brand-color {
  background: #3ba5ac;
}

.button-trans-gray {
  background-color: none;
  border: 1px solid gray !important;
  color: white;
}

button:focus,
select:focus {
  outline: none;
}

button:hover {
  color: rgb(84, 110, 157);
}

input,
textarea,
select {
  @apply border p-4 bg-white focus:outline-none;
  overflow-y: auto;
}

.title {
  @apply font-bold pb-14 text-4xl text-left;
  color: #133e7c;
}

.sub-title {
  font-weight: bold;
  font-size: 20px;
  color: #05b298;
}

.box-shadow {
  box-shadow: 1px 1px 10px 1px #cbcbcb;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255);
  box-shadow: 0px 0px 5px 0px #cbcbcb;
  z-index: 300;
}

.footer ul li a{
  font-size: 16px;
}

/* new button style */
.edgtf-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: Oswald,sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  border-radius: 0;
}
.edgtf-btn.edgtf-btn-solid {
  color: #fff;
  border: 1px solid transparent;
  min-width: 350px;
  height: 56px;
  line-height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.edgtf-btn.edgtf-btn-solid {
  padding-left: 0!important;
}
.edgtf-btn.edgtf-btn-solid span {
position: absolute;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  color: #000;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-size: 35px;
}
.edgtf-btn.edgtf-btn-solid:after {
  content: attr(data-text);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: center;
}
.edgtf-btn.edgtf-btn-solid:hover span {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.edgtf-btn.edgtf-btn-solid:hover:after {
      -webkit-clip-path: polygon(0 0,0 0,0 100%,0 100%);
  clip-path: polygon(0 0,0 0,0 100%,0 100%);
}

.header-button.svelte-3ktdnv.svelte-3ktdnv{
  height: 48px;
    padding: 0 20px;
    font-weight: 700;
    background: none;
    border: 1px solid #000 !important;
    font-size: 18px;
    color: #000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0 !important;
}

.header-button:hover{
  background-color: #000 !important;
    border: 1px solid #000 !important;
    color: #fff !important;
    display: flex;
}

/* ==========================================================================
   #Theme Cursor - start
   ========================================================================== */

   body.edgtf-theme-cursor #wpadminbar {
    cursor: default;
  }
  
  body.edgtf-theme-cursor #wpadminbar a,
  body.edgtf-theme-cursor #wpadminbar input.adminbar-input {
    cursor: pointer !important;
  }
  
  #edgtf-theme-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
    mix-blend-mode: difference;
    visibility: hidden;
  }
  
  #edgtf-theme-cursor circle {
    fill: #fff;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      transform: scale(.5);
      -webkit-transition: -webkit-transform .2s;
      transition: -webkit-transform .2s;
      -o-transition: transform .2s;
      transition: transform .2s;
      transition: transform .2s,-webkit-transform .2s;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #edgtf-theme-cursor {
      /* IE10+ CSS styles go here */
    }
  
    #edgtf-theme-cursor circle {
      fill: #000;
    }
  }
  
  @supports (-ms-ime-align: auto) {
    #edgtf-theme-cursor circle {
      fill: #000;
    }
  }
  
  #edgtf-theme-cursor path {
    opacity: 0;
    -webkit-transition: opacity .05s;
    -o-transition: opacity .05s;
    transition: opacity .05s;
  }
  
  #edgtf-theme-cursor path[id*='morph'] {
    visibility: hidden;
  }
  
  .edgtf-moving {
    will-change: transform;
  }
  
  .no-touch .edgtf-theme-cursor {
    cursor: none !important;
  }
  
  .no-touch .edgtf-theme-cursor a,
  .no-touch .edgtf-theme-cursor .tp-bullet,
  .no-touch .edgtf-theme-cursor input,
  .no-touch .edgtf-theme-cursor button {
    cursor: none !important;
  }
  
  #edgtf-theme-cursor.edgtf-visible {
    visibility: visible;
  }
  
  #edgtf-theme-cursor.edgtf-hovering circle {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-flame {
    mix-blend-mode: unset;
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-flame circle {
    fill: #000;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-flame #edgtf-cursor-flame {
    opacity: 1;
    -webkit-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-cart {
    mix-blend-mode: unset;
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-cart circle {
    fill: #000;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-cart #edgtf-cursor-cart {
    opacity: 1;
    -webkit-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-close {
    mix-blend-mode: unset;
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-close circle {
    fill: #000;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-close #edgtf-cursor-close {
    opacity: 1;
    -webkit-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-move {
    mix-blend-mode: unset;
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-move circle {
    fill: #000;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-move #edgtf-cursor-move {
    opacity: 1;
    -webkit-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-eye {
    mix-blend-mode: unset;
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-eye circle {
    fill: #000;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #edgtf-theme-cursor.edgtf-visible.edgtf-eye #edgtf-cursor-eye {
    opacity: 1;
    -webkit-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  @supports (not (-ms-high-contrast: none)) and (not (-ms-ime-align: auto)) {
    #edgtf-theme-cursor.edgtf-override {
      mix-blend-mode: difference !important;
    }
  
    #edgtf-theme-cursor.edgtf-override circle {
      fill: #fff;
      -webkit-transform: scale(0.5) !important;
      -ms-transform: scale(0.5) !important;
      transform: scale(0.5) !important;
    }
  
    #edgtf-theme-cursor.edgtf-override.edgtf-hovering circle {
      -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
      transform: scale(1) !important;
    }
  
    #edgtf-theme-cursor.edgtf-override path {
      opacity: 0 !important;
    }
  }
  
  #edgtf-theme-cursor #edgtf-cursor-flame {
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-animation: burn 1s infinite;
    animation: burn 1s infinite;
  }
  
  @-webkit-keyframes burn {
    0%, 100% {
      -webkit-transform: skewX(-1deg);
      transform: skewX(-1deg);
    }
  
    20% {
      -webkit-transform: skew(-0.7deg) scaleX(0.98);
      transform: skew(-0.7deg) scaleX(0.98);
    }
  
    50% {
      -webkit-transform: skewX(1deg) scaleX(1.07) translateX(-2px);
      transform: skewX(1deg) scaleX(1.07) translateX(-2px);
    }
  }
  
  @keyframes burn {
    0%, 100% {
      -webkit-transform: skewX(-1deg);
      transform: skewX(-1deg);
    }
  
    20% {
      -webkit-transform: skew(-0.7deg) scaleX(0.98);
      transform: skew(-0.7deg) scaleX(0.98);
    }
  
    50% {
      -webkit-transform: skewX(1deg) scaleX(1.07) translateX(-2px);
      transform: skewX(1deg) scaleX(1.07) translateX(-2px);
    }
  }
  
  @-webkit-keyframes cursorBlink {
    0% {
      opacity: 1;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes cursorBlink {
    0% {
      opacity: 1;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  #edgtf-theme-cursor.edgtf-blink {
    visibility: visible;
  }
  
  #edgtf-theme-cursor.edgtf-blink circle {
    -webkit-animation: cursorBlink 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: cursorBlink 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  
  #edgtf-theme-cursor.edgtf-blink .path {
    display: none;
  }
  
  /* ==========================================================================
     #Theme Cursor - end
     ========================================================================== */
  
     @media all and (-ms-high-contrast: none) {
      .edgtf-section-title-holder .edgtf-st-title .edgtf-st-title-hollow {
        color: #fff;
        text-shadow: -1px -1px 0px #bbbbbb, 1px 1px 0px #bbbbbb, -1px 1px 0px #bbbbbb, 1px -1px 0px #bbbbbb;
      }
    }


    .hover.svelte-uiqmis.svelte-uiqmis, .tabs.svelte-uiqmis div.svelte-uiqmis:hover{
      border-bottom: 3px solid #FF005C !important;
    }
    .toggle-checkbox.svelte-1s481vr:checked+.toggle-label.svelte-1s481vr{
      background: #FF005C !important;
    }
    .toggle-checkbox.svelte-1s481vr.svelte-1s481vr:checked{
      border: 1px solid #FF005C !important;
    }
   
.dark-bg {
  background-color: #445268;
  color: #f4f4f4;
}

    aside.svelte-jzh4eb {
      left: inherit !important;
      top: 0;
      transition: right 0.3s ease-in-out !important;
      z-index: 10;
      background-color: white;
      right: -100% !important;
  }

  .open.svelte-jzh4eb{
    left: inherit !important;
    -webkit-animation: svelte-jzh4eb-changeColor 2s ease forwards;
    animation: svelte-jzh4eb-changeColor 2s ease forwards;
    right: 0 !important;
}

.menu-container.svelte-jzh4eb{
  right: 0;
}
   
